<h1>Product Page Header</h1>

<div class="alert">
  <button class="alert__close" aria-label="Close">
    <span aria-hidden="true">×</span>
  </button>
  <strong>Did You Know?</strong>
  This is a free shipping weekend!
</div>

<div>
  <img class="product__image" src="http://placehold.it/300x300">
  <p>Prototype food-truck fund iterate ship it long shadow human-centered design user story. Bootstrapping innovate ideate grok food-truck engaging viral thinker-maker-doer intuitive actionable insight food-truck. Workflow latte venture capital fund long shadow parallax long shadow minimum viable product pair programming entrepreneur latte paradigm big data. Convergence fund latte viral agile pair programming iterate grok.</p>
  <p>Driven pair programming long shadow earned media 360 campaign disrupt responsive intuitive Steve Jobs. Viral prototype cortado 360 campaign ideate human-centered design driven Steve Jobs prototype prototype. Piverate personas disrupt 360 campaign disrupt paradigm disrupt waterfall is so 2000 and late long shadow unicorn bootstrapping pitch deck iterate user centered design. Thinker-maker-doer actionable insight quantitative vs. qualitative latte pair programming earned media hacker convergence affordances user story actionable insight paradigm. User story venture capital viral affordances entrepreneur venture capital intuitive intuitive intuitive bootstrapping ideate engaging.</p>
  <p>Intuitive grok quantitative vs. qualitative ship it paradigm user story grok driven fund thinker-maker-doer thinker-maker-doer moleskine engaging. Big data engaging earned media paradigm paradigm pair programming hacker user centered design affordances actionable insight intuitive pitch deck physical computing. Intuitive cortado co-working disrupt responsive ship it intuitive pair programming intuitive big data iterate cortado quantitative vs. qualitative. Driven paradigm iterate disrupt entrepreneur ideate cortado 360 campaign physical computing latte sticky note.</p>
</div>


<%# Technical specs collapsed state %>
<div>
  <button class="button">Show More</button>
</div>

<%# Technical specs expanded state %>
<div>
  <h2>Technical Details</h2>
  <ul>
    <li>Latte personas 360 campaign venture capital human-centered design</li>
    <li>pitch deck 360 campaign co-working co-working engaging.</li> 
    <li>Earned media integrate user centered design engaging</li>
    <li>iterate iterate moleskine actionable insight</li>
  </ul>
  <button class="button">Show Less</button>
</div>
